---
import { COPYRIGHT } from '../config';
import FooterLink from './FooterLink.astro';
---

<footer class="w-full h-10 p-5">
	<p>lets connect / jgpeters717@gmail.com / <FooterLink href="https://twitter.com/bashthejash">twitter</FooterLink> <FooterLink href="https://github.com/joshuapeters">github</FooterLink></p>
	<p>{COPYRIGHT}</p>
</footer>
